{% extends '::base.html.twig' %}

{# views/Default/hello.html.twig #}

{% block title %}
    {{ parent() ~ ' - Hello' }}
{% endblock title %}

{% block body %}

    <h1>Hello {{ prenom }}</h1>

    {{ dump(app.session.all) }}

    <h2>{{ app.session.get('name') }}</h2>

{% endblock body %}
